@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.ttf');
}

* {
    user-select: none;
}

html, body {
    overflow: hidden;
    background-image: linear-gradient(45deg, #040207 20%, #170c27 80%);
    padding: 0;
    margin: 0;
}

.window {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-app-region: no-drag;
}

.titleBar {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    
}

.leftSide {
    width: 100vw;
    -webkit-app-region: drag;
    overflow: hidden;
    /* border: solid 1px red; */
}
.titleBarButtons {
    position: absolute;
    right: 0;
    width: 135px;
    height: 40px;
    -webkit-app-region: no-drag;
}

.leftSide > .applicationName {
    font-family: 'Inter-ExtraBold';
    color: aliceblue;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0.6;
}

.main {
    height: 96vh;
}