@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.ttf');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.ttf');
}

.menu {
    height: 7vh;
    display: flex;
    justify-content: stretch;
}
.missionBtn, .characterBtn, .itemBtn {
    width: 33.34%;
    background-color: transparent;
    border: aliceblue 2px solid;
    
    font-family: 'Inter-ExtraBold';
    font-size: 2vw;
    color: aliceblue;
}

.missionBtn:hover, .characterBtn:hover, .itemBtn:hover {
    background-color: #040207;
    cursor: pointer;
    transition: background-color 0.3s;
}

.missionBtn:not(hover), .characterBtn:not(hover), .itemBtn:not(hover) {
    background-color: transparent;
    transition: background-color 0.3s;
}