@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.ttf');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.ttf');
}
@keyframes map-moving {
    0% {
        background-position-x: 3%;
        background-position-y: 3%;
    }
    50% {
        background-position-x: 71%;
        background-position-y: 87%;
    }
    80% {
        background-position-x: 19%;
        background-position-y: 82%;
    }
    80% {
        background-position-x: 3%;
        background-position-y: 3%;
    }
}

.menu {
    height: 7vh;
    display: flex;
    justify-content: stretch;
}
.missionBtn, .characterBtn, .itemBtn {
    width: 33.34%;
    background-color: transparent;
    border: aliceblue 2px solid;
    
    font-family: 'Inter-ExtraBold';
    font-size: 2vw;
    color: aliceblue;
}

.missionBtn:hover, .characterBtn:hover, .itemBtn:hover {
    background-color: #040207;
    cursor: pointer;
    transition: background-color 0.3s;
}

.missionBtn:not(hover), .characterBtn:not(hover), .itemBtn:not(hover) {
    background-color: transparent;
    transition: background-color 0.3s;
}

#missions-main {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content : center;
    align-items: center;
    /* border: solid 1px red; */
}

.missions-main-void1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 5vw;
    width: 26.2vw;
    height: 92vh;
    border: solid 2px red;
}

.square {
    width: 25vw;
    height: 25vw;

    border: aliceblue 6px solid;
    position: absolute;
    /* background-image: url('../imgs/missions-map.png'); */
    background-size: 450%;
    animation: map-moving 110s ease-in-out infinite;
}

.descSquare {
    text-align: justify;    
    position: absolute;
    top: 26vw;
    color: aliceblue;
    font-family: 'Inter-Light';
    font-size: 1.4vw;
}

.rewards {
    position: absolute;
    top : 36.5vw;
    text-align: justify;
    color: aliceblue;
    font-family: 'Inter-Light';
    font-size: 1.4vw;
}

.separator1 {
    display: flex;
    position: absolute;
    left: 30vw;
    background-color: #474747;
    height: 80vh;
    width: 0.1vw;
}

.missions-main-void2 {
    display: flex;
    flex-direction: row;
    border: solid 1px blue;
    height: 35vh;
    width: 65vw;

    position: absolute;
    left: 40vw;
    top: 3vh;
}

/* TODO: a finir */

.personnage1, .personnage2 {
    display: flex;
    flex-direction :row;
}
.pers1Infos, .pers2Infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15vw;
    height: 35vh;
    border: solid 1px green;
    line-height: 0;
    font-family: 'Inter-ExtraBold';
    font-size: 12px;
    color: aliceblue;
}
.pers1Infos h5, .pers2Infos h5 {
    font-family: 'Inter-ExtraBold';
    font-size: 15px;
    color: aliceblue;
}

.personnage3 {
    opacity: 0;
}
.personnage4 {
    opacity: 0;
}